<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <a href="#ute-panel" class="mdl-tabs__tab is-active">UTE</a>
    <a href="#ose-panel" class="mdl-tabs__tab">OSE</a>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--8-col">
      <div class="mdl-card mdl-shadow--6dp card_table">
        <div class="mdl-tabs__panel is-active" id="ute-panel">
          <ul>
            <li>Eddard</li>
            <li>Catelyn</li>
            <li>Robb</li>
            <li>Sansa</li>
            <li>Brandon</li>
            <li>Arya</li>
            <li>Rickon</li>
          </ul>
        </div>

        <div class="mdl-tabs__panel" id="ose-panel">
          <ul>
            <li>Tywin</li>
            <li>Cersei</li>
            <li>Jamie</li>
            <li>Tyrion</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>